# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\angular-projects\employeemanagerapp FE\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
